pygifsicle==1.0.2
torch==1.7.1+cu110
opencv_python==4.5.1.48
detectron2==0.4+cu110
tqdm==4.59.0
xmltodict==0.12.0
imageio==2.9.0
matplotlib==3.3.4
pycocotools==2.0.2
numpy==1.20.1
scipy==1.6.1
torchvision==0.8.2+cu110
dataclasses==0.8
filterpy==1.4.5
ipython==7.22.0
lap==0.4.0
motmetrics==1.2.0
natsort==7.1.1
numba==0.53.1
Pillow==8.2.0
scikit_learn==0.24.1
skimage==0.0
vidstab==1.7.3
